body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', serif;
}

h1 {
  font-family: 'Mulish', serif;
  font-weight: 700;
}

p {
  font-family: 'Mulish', serif;
  font-weight: 400;
}
