.post {
  display: inline-block;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.header {
  display: inline-block;
  width: 100%;
  padding: 10px;
}
.post .authorImage {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #ccc;
  font-size: 10px;
}
.texts {
  float: left;
  padding: 0 20px;
  width: calc(100% - 90px);
}
.moreActions {
  float: left;
  width: 40px;
  line-height: 40px;
  text-align: center;
}
.content {
  display: inline-block;
  width: 100%;
  padding: 10px;
}
.content.red {
  display: flex;
  align-items: center;
  background-color: red;
  color: #fff;
  height: 240px;
  padding: 0 100px;
  text-align: center;
}
.content > p {
  display: inline-block;
  width: 100%;
}
.content > p.bigText {
  font-size: 40px;
  line-height: 50px;
}
.content > p > .more {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.content > .gallery {
  display: inline-block;
  width: calc(100% + 20px);
  height: 240px;
  margin-left: -10px;
  position: relative;
}
.content > .gallery > .img {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.content > .gallery.gallery-2 {
  height: 360px;
}
.content > .gallery.gallery-2 > .img {
  width: 50%;
}
.content > .gallery.gallery-3 {
  height: 360px;
}
.content > .gallery.gallery-3 > .img {
  width: 50%;
  height: 50%;
}
.content > .gallery.gallery-3 > .img:first-child {
  width: 100%;
}
.content > .gallery.gallery-4 {
  height: 480px;
}
.content > .gallery.gallery-4 > .img {
  width: 50%;
  height: calc(100% / 3);
  float: right;
}
.content > .gallery.gallery-4 > .img:first-child {
  height: 100%;
  float: left;
}
.content > .gallery > .more {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: calc(100% / 3);
  background-color: #0008;
  color: #fff;
  text-align: center;
  font-size: 80px;
  line-height: 160px;
}
.interactions {
  display: inline-block;
  width: calc(100% - 20px);
  margin: 10px 10px 0 10px;
  border-top: 1px solid #ccc;
  text-align: center;
}
.interactions > .action {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
}
.interactions > .action > img {
  height: 20px;
}
.interactions > .action > span {
  line-height: 50px;
  font-size: 16px;
  margin-left: 10px;
}
.commentForm {
  display: inline-block;
  width: calc(100% - 20px);
  margin: 0 10px 10px 10px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}
.commentForm > img {
  width: 40px;
  height: 40px;
  float: left;
  border-radius: 50%;
  border: 1px solid #ccc;
  font-size: 10px;
}
.commentForm > .form {
  width: calc(100% - 60px);
  margin-left: 20px;
  float: left;
  position: relative;
}
.commentForm > .form > textarea {
  display: inline-block;
  width: 100%;
  min-height: 40px;
  height: 40px;
  max-height: 200px;
  padding: 10px;
  line-height: 20px;
  resize: vertical;
  overflow: hidden;
  border-radius: 20px;
  outline: none;
}
.commentForm > .form > .icons {
  position: absolute;
  bottom: 8px;
  right: 10px;
}
.commentForm > .form > .icons > img {
  float: left;
  padding: 5px;
  height: 32px;
}
.post + .post {
  margin-top: 20px;
}