main {
  margin-top: 100px;
}

.twoSectionContainer {
  margin-top: 100px;
}

.homeRegistrationContainer {
  background-image: url('../../assets/sign-up.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5%;
  min-height: 66vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkToLoginPara {
  font-weight: bold;
  color: #fff;
}
.linkToLoginPara:hover {
  color: #b9b9b9;
}
.opacityBackground {
  background-color: rgba(49, 49, 49, 0.6);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 2;
  padding: 27px;
  width: 450px;
  height: 529px;
  display: flex;
  flex-direction: column;
  gap: 200px;
  justify-content: center;
  align-items: start;
  border-radius: 4%;
  color: #fff;
}

.homeRegisterTitle {
  padding: 10px;
  background: linear-gradient(
    150deg,
    rgba(114, 137, 234, 0.3),
    rgba(94, 115, 149, 0.3)
  );
  width: max-content;
}
.lineBreak {
  width: 5rem;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  margin-bottom: 10px;
}
.twoSectionChildContainer {
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  border-radius: 5%;
}
